@charset "UTF-8";
@font-face {
    font-family: 'assassin';
    src: url("../fontes/assassin.ttf") format("truetype");
}

:root {
    --red: #BF232C;
    --gray: #7B8487;

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    background-color: #7B8487;
    background-image: url("../imagens/altair-ac1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

main {
    background-color: rgba(255, 255, 255, 0.267);
    width: 600px;
    margin: auto;
    margin-top: 5%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

header > h1 {
    font-family: 'assassin';
    font-variant: small-caps;
    font-size: 2.3em;
    text-align: center;
}

header > q {
    display: block;
    font-size: 1.2em;
    font-style: italic;
    text-align: center;
    padding: 0px 10px 15px;
}

#imagem-perfil {
    display: block;
    margin: auto;
    max-width: 300px;
    border-radius: 20px;
    padding-bottom: 15px;
}

.info {
    max-width: 600px;
}

#info-bas {
    margin: 0px;
    padding: 0px;
}

section > h2 {
    font-variant: small-caps;
    background-color: #7b848746;
    padding: 0px 5px;
    border-radius: 5px;
    max-width: max-content;
}

section > p {
    text-align: justify;
    padding-bottom: 15px;
}