@font-face {
    font-family: 'assassin';
    src: url("../fontes/assassin.ttf") format("truetype");
}

:root {
    --red: #860f15;
    --gray: #7B8487;
    --font1: 'VT323', cursive;
    --font2: 'assassin', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-color: gray;
    background-image: url("../imagens/animus-login.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    display: flex;
    flex-direction: column;
    margin: 2%;
    font-family: var(--font1);
}

header > h1 {
    font-family: var(--font2);
    font-variant: small-caps;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    text-shadow: 2px 2px 1px white;
    line-height: 35px;
}

header #logo {
    color: #ee000c;
}

header > p {
    padding-bottom: 0.5%;
    font-size: 30px;
}

section {
    background-color: rgba(128, 128, 128, 0.342);
    max-width: 500px;
    width: 100%;
    padding: 10px;
    list-style-position: inside;
    border-radius: 15px;
}

section > h2 {
    font-family: var(--font2);
    font-variant: small-caps;
    font-size: 35px;
    font-weight: 400;
}

section li {
    font-size: 30px;
    list-style-type: "> ";
}

section a {
    color: black;
    text-decoration: none;
}

section a:hover {
    color: var(--red);
    transition: all 0.3s ease-out;
    transform: translateY(-2px);
    display: inline-block;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    text-decoration: underline;
}