@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: "Passion One", cursive;
    --fonte2: "Sriracha", cursive;
    --fonte3: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte3);
    font-size: 1em;
}
main {
    display: flex;
    flex-direction: column;
    color: white;
}

header {
    text-align: center;
    background-color: black; 
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 6vw;
    font-family: var(--fonte1);
}

header > p {
    padding-bottom: 50px;
}

header p {
    font-size: 1.5em;
}

#autor a {
    font-family: var(--fonte1);
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    color: #FEBF00;
}

article {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 2vw;
    font-family: var(--fonte2);
}

article > p {
    padding-bottom: 2em;
}

#img01 {
    background-image: url("imagens/background001.jpg");
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

#img02 {
    background-image: url("imagens/background002.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
}

.branco {
    background-color: white;
    color: black;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.445);
}

.transparente {
    background-color: rgb(51, 51, 51);
    box-shadow: inset 6px 6px 13px 0px black;
}

.transparente > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.308);
    border-radius: 10px;
    max-width: max-content;
    text-shadow: 2px 2px 0px black;
}

footer {
    background-color: black;
    padding: 10px;
    text-align: center;
}