body {
    background-color: rgb(54, 54, 54);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.curso {
    color: white;
    text-decoration: none;
    margin-top: 15px;
}

.curso:hover {
    text-decoration: underline;
    transform: translateY(-2px);
}

.voltar {
    margin-top: 15px;
}
.voltar:hover {
    transform: translateY(2px);
}